.transactionHistory {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 1px solid rgb(192, 224, 255);
  box-shadow: 2px 2px 2px rgb(118, 134, 150);
  text-transform: capitalize;
}
.transactionHistory thead {
  text-transform: uppercase;
  height: 50px;
  background: rgb(0, 188, 212);
}
.transactionHistory th {
  height: 50px;
  width: 290px;
}
.transactionHistory th:nth-child(1n) {
  border-right: 1px solid rgb(192, 224, 255);
  border-left: 1px solid rgb(192, 224, 255);
}
.transactionHistory tr {
  font-weight: 300;
  font-size: 15px;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: rgb(92, 105, 117);
  line-height: 2;
}
.transactionHistory tr:nth-child(2n) {
  background: rgb(236, 242, 243);
}

.transactionHistory td {
  color: rgb(92, 105, 117);
  height: 50px;
  width: 290px;
}
.transactionHistory td:nth-child(1n) {
  border-right: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
}
